# Ephemeral / Build
build/
dist/
dist_encrypted/
__pycache__/
*.egg-info/
.venv/
.vscode/
.idea/

# Binaries & Artifacts (Ignore generally, but allow release binaries)
*.dll
*.so
*.pyd
*.exe
*.obj
*.lib
!epanet_turbo/dll/*.dll
!epanet_turbo/dll/*.so
!epanet_turbo/pyarmor_runtime_000000/*.so
!epanet_turbo/pyarmor_runtime_000000/*.pyd

# Notebooks
*.ipynb


# DEVELOPMENT SOURCE (Local Only - DO NOT COMMIT)
# -----------------------------------------------
src/
CMakeLists.txt
build_encrypted.py
run/
tools/
tests/
examples/
Example/
example-networks/
doc/
cmake/

# Public Headers (Keep include/ but ignore junk)
include/*.bas
include/*.pas
include/*.vb
include/*.cs
include/*.def

# Misc
*.tmp
*.bak
*.log
.DS_Store
Thumbs.db